.idea/*
new_venv/*
venv/*
users/__pycache__/*
users/migrations/__pycache__/*
weather/__pycache__/*
weather/migrations/__pycache__/*
weather_site/__pycache__/*

weather/migrations/*
weather_site/.mypy_cache/*

weather_site/.env

