{% extends 'base.html' %}

{% block content %}
    {% if not error %}
        <h1>City weather</h1>
        <h2>City name: {{ city }}</h2>

        <h3>Date: {{ today_day }}</h3>
        <p>Temperature: {{ today_temp }}°</p>
        <p>Wind speed: {{ current_wind }} mps</p>
        <p>Description: {{ current_description }}</p>

        {% for day in weather_ready %}
            <h3>Date: {{ day.dt_txt }}</h3>
            <p>Temperature: {{ day.main.temp }}°</p>
            <p>Wind speed: {{ day.wind.speed }} mps</p>
            <p>Description: : {{ day.weather.0.description }}</p>
        {% endfor %}

        {% if user.is_authenticated %}
            {% if city_in_favourites  %}
                <a href="{% url 'delete_city_view' city %}">Remove from favourites</a>
            {% else %}
                <a href="{% url 'added_city_view' city %}">Add to favourites</a>
            {% endif %}
        {%  endif %}
    {% else %}
        <h1>{{ error }}</h1>
    {% endif %}

{% endblock content %}